* {
    font-family: "Roboto";
}

.page {
    margin: auto;
    max-width: 800px;
}

.space {
    margin: 40px;
}

.text {
    font-size: 24px;
    line-height: 32px;
}

.tip {
    background-color: #def6ed;
    border-radius: 4px;
    padding: 5px;
    margin-top: 20px;
}

ul li {
    font-size: 20px;
    line-height: 26px;
    margin: 10px;
}

ol li {
    font-size: 20px;
    line-height: 26px;
    margin: 20px;
}

h1 {
    font-size: 36px;
    line-height: 36px;
}

h2 {
    font-size: 32px;
    line-height: 32px;
}

img {
    height: 600px;
    width: 600px;
}