#container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 10px;
    justify-content: center;
    background-color: grey;
    padding: 10px;
    width: fit-content;
    margin: auto;
}

button {
    /* color: green; */
    width: 80px;
    height: 45px;
}